{
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "semi": false,
  "trailingComma": "none",
  "printWidth": 140,
  "proseWrap": "never"
}
